.homeOuter {
    text-align: center;
    /* display: inline-flex; */
}

.lineOuter {
    width: 100%;
    display: inline-flex;
}

.lineDiv {
    width: 48%;
    margin: auto;
    border: black solid 1px;
}

.newsOuter {
    display: inline-flex;
    width: 98%;
    margin: auto;
}

.newsItem {
    width: 30%;
    margin: auto;
    justify-content: center;
    display: flex;
}

.footer {
    height: 10vh;
}